.Message {
  background-color: #1c1921;
  border-radius: 5px;
  display: grid;
  grid-gap: 10px;
  margin: 10px 30px 10px 10px;
  padding: 10px;
}
.Message div p,
.MyMessage div p {
  margin: 0;
  font-size: 14px;
}
.Message-Username p {
  color: #c4c4c4;
}
.Message-Content {
  color: white;
}
.MyMessage {
  background-color: #0779e4;
  border-radius: 5px;
  display: grid;
  grid-gap: 10px;
  margin: 10px 10px 10px 30px;
  padding: 10px;
}
