.TypingBar {
  background-color: #3c393f;
  margin: 0 10px 10px 10px;
  border-radius: 5px;
}
.TypingBar-Form {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr auto;
  padding: 5px;
}
.TypingBar-Form div input[type='text'] {
  border: none;
  background: none;
  color: white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  width: 98%;
}
.TypingBar-InputSubmit {
  background-color: #0779e4;
  padding: 5px 5px 0 5px;
  border-radius: 5px;
}
