.ChatMessages {
  overflow-y: scroll;
}

@media screen and (min-width: 768px) {
  .ChatMessages::-webkit-scrollbar {
    background: #deecf8;
    width: 5px;
    border-radius: 5px;
  }
  .ChatMessages::-webkit-scrollbar-thumb {
    background: #0779e4;
    border-radius: 5px;
  }
  /* Cambiamos el fondo cuando esté en active */
  .ChatMessages::-webkit-scrollbar-thumb:active {
    background-color: #0462b9;
  }
}
